// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vapi from "../../../index.js";

export declare namespace BoardClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BoardClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BoardClient.Options>;

    constructor(options: BoardClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Vapi.BoardControllerFindAllRequest} request
     * @param {BoardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.board.boardControllerFindAll()
     */
    public boardControllerFindAll(
        request: Vapi.BoardControllerFindAllRequest = {},
        requestOptions?: BoardClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.BoardPaginatedResponse> {
        return core.HttpResponsePromise.fromPromise(this.__boardControllerFindAll(request, requestOptions));
    }

    private async __boardControllerFindAll(
        request: Vapi.BoardControllerFindAllRequest = {},
        requestOptions?: BoardClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.BoardPaginatedResponse>> {
        const {
            page,
            sortOrder,
            sortBy,
            limit,
            createdAtGt,
            createdAtLt,
            createdAtGe,
            createdAtLe,
            updatedAtGt,
            updatedAtLt,
            updatedAtGe,
            updatedAtLe,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            sortOrder: sortOrder != null ? sortOrder : undefined,
            sortBy: sortBy != null ? sortBy : undefined,
            limit,
            createdAtGt: createdAtGt != null ? createdAtGt : undefined,
            createdAtLt: createdAtLt != null ? createdAtLt : undefined,
            createdAtGe: createdAtGe != null ? createdAtGe : undefined,
            createdAtLe: createdAtLe != null ? createdAtLe : undefined,
            updatedAtGt: updatedAtGt != null ? updatedAtGt : undefined,
            updatedAtLt: updatedAtLt != null ? updatedAtLt : undefined,
            updatedAtGe: updatedAtGe != null ? updatedAtGe : undefined,
            updatedAtLe: updatedAtLe != null ? updatedAtLe : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "reporting/board",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.BoardPaginatedResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/reporting/board");
    }

    /**
     * @param {Vapi.CreateBoardDto} request
     * @param {BoardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.board.boardControllerCreate({
     *         name: "name",
     *         layout: {
     *             columns: 1.1
     *         }
     *     })
     */
    public boardControllerCreate(
        request: Vapi.CreateBoardDto,
        requestOptions?: BoardClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Board> {
        return core.HttpResponsePromise.fromPromise(this.__boardControllerCreate(request, requestOptions));
    }

    private async __boardControllerCreate(
        request: Vapi.CreateBoardDto,
        requestOptions?: BoardClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Board>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "reporting/board",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Board, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/reporting/board");
    }

    /**
     * @param {BoardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.board.boardControllerMetricsOverviewEnsure()
     */
    public boardControllerMetricsOverviewEnsure(
        requestOptions?: BoardClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Board> {
        return core.HttpResponsePromise.fromPromise(this.__boardControllerMetricsOverviewEnsure(requestOptions));
    }

    private async __boardControllerMetricsOverviewEnsure(
        requestOptions?: BoardClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Board>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "reporting/board/default/metrics-overview",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Board, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/reporting/board/default/metrics-overview",
        );
    }

    /**
     * @param {Vapi.BoardControllerFindOneRequest} request
     * @param {BoardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.board.boardControllerFindOne({
     *         id: "id"
     *     })
     */
    public boardControllerFindOne(
        request: Vapi.BoardControllerFindOneRequest,
        requestOptions?: BoardClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Board> {
        return core.HttpResponsePromise.fromPromise(this.__boardControllerFindOne(request, requestOptions));
    }

    private async __boardControllerFindOne(
        request: Vapi.BoardControllerFindOneRequest,
        requestOptions?: BoardClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Board>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `reporting/board/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Board, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/reporting/board/{id}");
    }

    /**
     * @param {Vapi.BoardControllerRemoveRequest} request
     * @param {BoardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.board.boardControllerRemove({
     *         id: "id"
     *     })
     */
    public boardControllerRemove(
        request: Vapi.BoardControllerRemoveRequest,
        requestOptions?: BoardClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Board> {
        return core.HttpResponsePromise.fromPromise(this.__boardControllerRemove(request, requestOptions));
    }

    private async __boardControllerRemove(
        request: Vapi.BoardControllerRemoveRequest,
        requestOptions?: BoardClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Board>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `reporting/board/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Board, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/reporting/board/{id}");
    }

    /**
     * @param {Vapi.UpdateBoardDto} request
     * @param {BoardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.board.boardControllerUpdate({
     *         id: "id"
     *     })
     */
    public boardControllerUpdate(
        request: Vapi.UpdateBoardDto,
        requestOptions?: BoardClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Board> {
        return core.HttpResponsePromise.fromPromise(this.__boardControllerUpdate(request, requestOptions));
    }

    private async __boardControllerUpdate(
        request: Vapi.UpdateBoardDto,
        requestOptions?: BoardClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Board>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `reporting/board/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Board, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/reporting/board/{id}");
    }
}
