// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vapi from "../../../index.js";

export declare namespace SimulationPersonalitiesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SimulationPersonalitiesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SimulationPersonalitiesClient.Options>;

    constructor(options: SimulationPersonalitiesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the personalities for the authenticated organization.
     *
     * @param {Vapi.PersonalityControllerFindAllRequest} request
     * @param {SimulationPersonalitiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationPersonalities.personalityControllerFindAll()
     */
    public personalityControllerFindAll(
        request: Vapi.PersonalityControllerFindAllRequest = {},
        requestOptions?: SimulationPersonalitiesClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Personality[]> {
        return core.HttpResponsePromise.fromPromise(this.__personalityControllerFindAll(request, requestOptions));
    }

    private async __personalityControllerFindAll(
        request: Vapi.PersonalityControllerFindAllRequest = {},
        requestOptions?: SimulationPersonalitiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Personality[]>> {
        const {
            page,
            sortOrder,
            sortBy,
            limit,
            createdAtGt,
            createdAtLt,
            createdAtGe,
            createdAtLe,
            updatedAtGt,
            updatedAtLt,
            updatedAtGe,
            updatedAtLe,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            sortOrder: sortOrder != null ? sortOrder : undefined,
            sortBy: sortBy != null ? sortBy : undefined,
            limit,
            createdAtGt: createdAtGt != null ? createdAtGt : undefined,
            createdAtLt: createdAtLt != null ? createdAtLt : undefined,
            createdAtGe: createdAtGe != null ? createdAtGe : undefined,
            createdAtLe: createdAtLe != null ? createdAtLe : undefined,
            updatedAtGt: updatedAtGt != null ? updatedAtGt : undefined,
            updatedAtLt: updatedAtLt != null ? updatedAtLt : undefined,
            updatedAtGe: updatedAtGe != null ? updatedAtGe : undefined,
            updatedAtLe: updatedAtLe != null ? updatedAtLe : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "eval/simulation/personality",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Personality[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/eval/simulation/personality");
    }

    /**
     * Creates a personality, the AI tester's configuration used in simulations.
     *
     * @param {Vapi.CreatePersonalityDto} request
     * @param {SimulationPersonalitiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationPersonalities.personalityControllerCreate({
     *         name: "name",
     *         assistant: {}
     *     })
     */
    public personalityControllerCreate(
        request: Vapi.CreatePersonalityDto,
        requestOptions?: SimulationPersonalitiesClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Personality> {
        return core.HttpResponsePromise.fromPromise(this.__personalityControllerCreate(request, requestOptions));
    }

    private async __personalityControllerCreate(
        request: Vapi.CreatePersonalityDto,
        requestOptions?: SimulationPersonalitiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Personality>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "eval/simulation/personality",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Personality, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/eval/simulation/personality");
    }

    /**
     * Returns the specified personality.
     *
     * @param {Vapi.PersonalityControllerFindOneRequest} request
     * @param {SimulationPersonalitiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationPersonalities.personalityControllerFindOne({
     *         id: "id"
     *     })
     */
    public personalityControllerFindOne(
        request: Vapi.PersonalityControllerFindOneRequest,
        requestOptions?: SimulationPersonalitiesClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Personality> {
        return core.HttpResponsePromise.fromPromise(this.__personalityControllerFindOne(request, requestOptions));
    }

    private async __personalityControllerFindOne(
        request: Vapi.PersonalityControllerFindOneRequest,
        requestOptions?: SimulationPersonalitiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Personality>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/personality/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Personality, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/eval/simulation/personality/{id}",
        );
    }

    /**
     * Deletes the specified personality.
     *
     * @param {Vapi.PersonalityControllerRemoveRequest} request
     * @param {SimulationPersonalitiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationPersonalities.personalityControllerRemove({
     *         id: "id"
     *     })
     */
    public personalityControllerRemove(
        request: Vapi.PersonalityControllerRemoveRequest,
        requestOptions?: SimulationPersonalitiesClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Personality> {
        return core.HttpResponsePromise.fromPromise(this.__personalityControllerRemove(request, requestOptions));
    }

    private async __personalityControllerRemove(
        request: Vapi.PersonalityControllerRemoveRequest,
        requestOptions?: SimulationPersonalitiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Personality>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/personality/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Personality, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/eval/simulation/personality/{id}",
        );
    }

    /**
     * Updates the specified personality. Changes apply to future runs.
     *
     * @param {Vapi.UpdatePersonalityDto} request
     * @param {SimulationPersonalitiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationPersonalities.personalityControllerUpdate({
     *         id: "id"
     *     })
     */
    public personalityControllerUpdate(
        request: Vapi.UpdatePersonalityDto,
        requestOptions?: SimulationPersonalitiesClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Personality> {
        return core.HttpResponsePromise.fromPromise(this.__personalityControllerUpdate(request, requestOptions));
    }

    private async __personalityControllerUpdate(
        request: Vapi.UpdatePersonalityDto,
        requestOptions?: SimulationPersonalitiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Personality>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/personality/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Personality, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/eval/simulation/personality/{id}",
        );
    }
}
