// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vapi from "../../../index.js";

export declare namespace SimulationSuitesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SimulationSuitesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SimulationSuitesClient.Options>;

    constructor(options: SimulationSuitesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the simulation suites for the authenticated organization.
     *
     * @param {Vapi.SimulationSuiteControllerFindAllRequest} request
     * @param {SimulationSuitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationSuites.simulationSuiteControllerFindAll()
     */
    public simulationSuiteControllerFindAll(
        request: Vapi.SimulationSuiteControllerFindAllRequest = {},
        requestOptions?: SimulationSuitesClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.SimulationSuite[]> {
        return core.HttpResponsePromise.fromPromise(this.__simulationSuiteControllerFindAll(request, requestOptions));
    }

    private async __simulationSuiteControllerFindAll(
        request: Vapi.SimulationSuiteControllerFindAllRequest = {},
        requestOptions?: SimulationSuitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.SimulationSuite[]>> {
        const {
            name,
            page,
            sortOrder,
            sortBy,
            limit,
            createdAtGt,
            createdAtLt,
            createdAtGe,
            createdAtLe,
            updatedAtGt,
            updatedAtLt,
            updatedAtGe,
            updatedAtLe,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            page,
            sortOrder: sortOrder != null ? sortOrder : undefined,
            sortBy: sortBy != null ? sortBy : undefined,
            limit,
            createdAtGt: createdAtGt != null ? createdAtGt : undefined,
            createdAtLt: createdAtLt != null ? createdAtLt : undefined,
            createdAtGe: createdAtGe != null ? createdAtGe : undefined,
            createdAtLe: createdAtLe != null ? createdAtLe : undefined,
            updatedAtGt: updatedAtGt != null ? updatedAtGt : undefined,
            updatedAtLt: updatedAtLt != null ? updatedAtLt : undefined,
            updatedAtGe: updatedAtGe != null ? updatedAtGe : undefined,
            updatedAtLe: updatedAtLe != null ? updatedAtLe : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "eval/simulation/suite",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.SimulationSuite[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/eval/simulation/suite");
    }

    /**
     * Creates a simulation suite, a group of simulations that run together.
     *
     * @param {Vapi.CreateSimulationSuiteDto} request
     * @param {SimulationSuitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationSuites.simulationSuiteControllerCreate({
     *         name: "Checkout Flow Tests",
     *         simulationIds: ["simulationIds"]
     *     })
     */
    public simulationSuiteControllerCreate(
        request: Vapi.CreateSimulationSuiteDto,
        requestOptions?: SimulationSuitesClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.SimulationSuite> {
        return core.HttpResponsePromise.fromPromise(this.__simulationSuiteControllerCreate(request, requestOptions));
    }

    private async __simulationSuiteControllerCreate(
        request: Vapi.CreateSimulationSuiteDto,
        requestOptions?: SimulationSuitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.SimulationSuite>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "eval/simulation/suite",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.SimulationSuite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/eval/simulation/suite");
    }

    /**
     * Returns the specified simulation suite.
     *
     * @param {Vapi.SimulationSuiteControllerFindOneRequest} request
     * @param {SimulationSuitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationSuites.simulationSuiteControllerFindOne({
     *         id: "id"
     *     })
     */
    public simulationSuiteControllerFindOne(
        request: Vapi.SimulationSuiteControllerFindOneRequest,
        requestOptions?: SimulationSuitesClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.SimulationSuite> {
        return core.HttpResponsePromise.fromPromise(this.__simulationSuiteControllerFindOne(request, requestOptions));
    }

    private async __simulationSuiteControllerFindOne(
        request: Vapi.SimulationSuiteControllerFindOneRequest,
        requestOptions?: SimulationSuitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.SimulationSuite>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/suite/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.SimulationSuite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/eval/simulation/suite/{id}");
    }

    /**
     * Deletes the specified simulation suite.
     *
     * @param {Vapi.SimulationSuiteControllerRemoveRequest} request
     * @param {SimulationSuitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationSuites.simulationSuiteControllerRemove({
     *         id: "id"
     *     })
     */
    public simulationSuiteControllerRemove(
        request: Vapi.SimulationSuiteControllerRemoveRequest,
        requestOptions?: SimulationSuitesClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.SimulationSuite> {
        return core.HttpResponsePromise.fromPromise(this.__simulationSuiteControllerRemove(request, requestOptions));
    }

    private async __simulationSuiteControllerRemove(
        request: Vapi.SimulationSuiteControllerRemoveRequest,
        requestOptions?: SimulationSuitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.SimulationSuite>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/suite/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.SimulationSuite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/eval/simulation/suite/{id}",
        );
    }

    /**
     * Updates the specified simulation suite.
     *
     * @param {Vapi.UpdateSimulationSuiteDto} request
     * @param {SimulationSuitesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationSuites.simulationSuiteControllerUpdate({
     *         id: "id"
     *     })
     */
    public simulationSuiteControllerUpdate(
        request: Vapi.UpdateSimulationSuiteDto,
        requestOptions?: SimulationSuitesClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.SimulationSuite> {
        return core.HttpResponsePromise.fromPromise(this.__simulationSuiteControllerUpdate(request, requestOptions));
    }

    private async __simulationSuiteControllerUpdate(
        request: Vapi.UpdateSimulationSuiteDto,
        requestOptions?: SimulationSuitesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.SimulationSuite>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/suite/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.SimulationSuite, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/eval/simulation/suite/{id}");
    }
}
