// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vapi from "../../../index.js";

export declare namespace SimulationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SimulationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SimulationsClient.Options>;

    constructor(options: SimulationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Generates scenarios for an assistant or squad by analyzing its configuration with AI.
     *
     * @param {Vapi.GenerateScenariosDto} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulations.simulationGenerateControllerGenerate()
     */
    public simulationGenerateControllerGenerate(
        request: Vapi.GenerateScenariosDto = {},
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.GenerateScenariosResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__simulationGenerateControllerGenerate(request, requestOptions),
        );
    }

    private async __simulationGenerateControllerGenerate(
        request: Vapi.GenerateScenariosDto = {},
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.GenerateScenariosResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "eval/simulation/scenario/generate",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.GenerateScenariosResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/eval/simulation/scenario/generate",
        );
    }

    /**
     * Returns the simulations for the authenticated organization.
     *
     * @param {Vapi.SimulationControllerFindAllRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulations.simulationControllerFindAll()
     */
    public simulationControllerFindAll(
        request: Vapi.SimulationControllerFindAllRequest = {},
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Simulation[]> {
        return core.HttpResponsePromise.fromPromise(this.__simulationControllerFindAll(request, requestOptions));
    }

    private async __simulationControllerFindAll(
        request: Vapi.SimulationControllerFindAllRequest = {},
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Simulation[]>> {
        const {
            idAny,
            standaloneOnly,
            page,
            sortOrder,
            sortBy,
            limit,
            createdAtGt,
            createdAtLt,
            createdAtGe,
            createdAtLe,
            updatedAtGt,
            updatedAtLt,
            updatedAtGe,
            updatedAtLe,
        } = request;
        const _queryParams: Record<string, unknown> = {
            idAny,
            standaloneOnly,
            page,
            sortOrder: sortOrder != null ? sortOrder : undefined,
            sortBy: sortBy != null ? sortBy : undefined,
            limit,
            createdAtGt: createdAtGt != null ? createdAtGt : undefined,
            createdAtLt: createdAtLt != null ? createdAtLt : undefined,
            createdAtGe: createdAtGe != null ? createdAtGe : undefined,
            createdAtLe: createdAtLe != null ? createdAtLe : undefined,
            updatedAtGt: updatedAtGt != null ? updatedAtGt : undefined,
            updatedAtLt: updatedAtLt != null ? updatedAtLt : undefined,
            updatedAtGe: updatedAtGe != null ? updatedAtGe : undefined,
            updatedAtLe: updatedAtLe != null ? updatedAtLe : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "eval/simulation",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Simulation[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/eval/simulation");
    }

    /**
     * Creates a simulation by pairing a scenario with a personality.
     *
     * @param {Vapi.CreateSimulationDto} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulations.simulationControllerCreate({
     *         scenarioId: "scenarioId",
     *         personalityId: "personalityId"
     *     })
     */
    public simulationControllerCreate(
        request: Vapi.CreateSimulationDto,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Simulation> {
        return core.HttpResponsePromise.fromPromise(this.__simulationControllerCreate(request, requestOptions));
    }

    private async __simulationControllerCreate(
        request: Vapi.CreateSimulationDto,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Simulation>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "eval/simulation",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Simulation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/eval/simulation");
    }

    /**
     * Returns the specified simulation.
     *
     * @param {Vapi.SimulationControllerFindOneRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulations.simulationControllerFindOne({
     *         id: "id"
     *     })
     */
    public simulationControllerFindOne(
        request: Vapi.SimulationControllerFindOneRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Simulation> {
        return core.HttpResponsePromise.fromPromise(this.__simulationControllerFindOne(request, requestOptions));
    }

    private async __simulationControllerFindOne(
        request: Vapi.SimulationControllerFindOneRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Simulation>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Simulation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/eval/simulation/{id}");
    }

    /**
     * Deletes the specified simulation.
     *
     * @param {Vapi.SimulationControllerRemoveRequest} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulations.simulationControllerRemove({
     *         id: "id"
     *     })
     */
    public simulationControllerRemove(
        request: Vapi.SimulationControllerRemoveRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Simulation> {
        return core.HttpResponsePromise.fromPromise(this.__simulationControllerRemove(request, requestOptions));
    }

    private async __simulationControllerRemove(
        request: Vapi.SimulationControllerRemoveRequest,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Simulation>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Simulation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/eval/simulation/{id}");
    }

    /**
     * Updates the specified simulation.
     *
     * @param {Vapi.UpdateSimulationDto} request
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulations.simulationControllerUpdate({
     *         id: "id"
     *     })
     */
    public simulationControllerUpdate(
        request: Vapi.UpdateSimulationDto,
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Simulation> {
        return core.HttpResponsePromise.fromPromise(this.__simulationControllerUpdate(request, requestOptions));
    }

    private async __simulationControllerUpdate(
        request: Vapi.UpdateSimulationDto,
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Simulation>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Simulation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/eval/simulation/{id}");
    }

    /**
     * Returns the organization's simulation concurrency limit, the number of active simulations, and how many more can start.
     *
     * @param {SimulationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulations.simulationControllerGetConcurrency()
     */
    public simulationControllerGetConcurrency(
        requestOptions?: SimulationsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.SimulationConcurrencyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__simulationControllerGetConcurrency(requestOptions));
    }

    private async __simulationControllerGetConcurrency(
        requestOptions?: SimulationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.SimulationConcurrencyResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "eval/simulation/concurrency",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.SimulationConcurrencyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/eval/simulation/concurrency");
    }
}
