// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vapi from "../../../index.js";

export declare namespace SimulationScenariosClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SimulationScenariosClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SimulationScenariosClient.Options>;

    constructor(options: SimulationScenariosClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the scenarios for the authenticated organization.
     *
     * @param {Vapi.ScenarioControllerFindAllRequest} request
     * @param {SimulationScenariosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationScenarios.scenarioControllerFindAll()
     */
    public scenarioControllerFindAll(
        request: Vapi.ScenarioControllerFindAllRequest = {},
        requestOptions?: SimulationScenariosClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Scenario[]> {
        return core.HttpResponsePromise.fromPromise(this.__scenarioControllerFindAll(request, requestOptions));
    }

    private async __scenarioControllerFindAll(
        request: Vapi.ScenarioControllerFindAllRequest = {},
        requestOptions?: SimulationScenariosClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Scenario[]>> {
        const {
            idAny,
            name,
            page,
            sortOrder,
            sortBy,
            limit,
            createdAtGt,
            createdAtLt,
            createdAtGe,
            createdAtLe,
            updatedAtGt,
            updatedAtLt,
            updatedAtGe,
            updatedAtLe,
        } = request;
        const _queryParams: Record<string, unknown> = {
            idAny,
            name,
            page,
            sortOrder: sortOrder != null ? sortOrder : undefined,
            sortBy: sortBy != null ? sortBy : undefined,
            limit,
            createdAtGt: createdAtGt != null ? createdAtGt : undefined,
            createdAtLt: createdAtLt != null ? createdAtLt : undefined,
            createdAtGe: createdAtGe != null ? createdAtGe : undefined,
            createdAtLe: createdAtLe != null ? createdAtLe : undefined,
            updatedAtGt: updatedAtGt != null ? updatedAtGt : undefined,
            updatedAtLt: updatedAtLt != null ? updatedAtLt : undefined,
            updatedAtGe: updatedAtGe != null ? updatedAtGe : undefined,
            updatedAtLe: updatedAtLe != null ? updatedAtLe : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "eval/simulation/scenario",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Scenario[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/eval/simulation/scenario");
    }

    /**
     * Creates a scenario, the AI tester's intent plus the success criteria that score a run.
     *
     * @param {Vapi.CreateScenarioDto} request
     * @param {SimulationScenariosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationScenarios.scenarioControllerCreate({
     *         name: "Health Enrollment - Eligible Path",
     *         instructions: "You are calling to enroll in the Twin Health program. Confirm your identity when asked.",
     *         evaluations: [{
     *                 comparator: "=",
     *                 value: 1.1
     *             }]
     *     })
     */
    public scenarioControllerCreate(
        request: Vapi.CreateScenarioDto,
        requestOptions?: SimulationScenariosClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Scenario> {
        return core.HttpResponsePromise.fromPromise(this.__scenarioControllerCreate(request, requestOptions));
    }

    private async __scenarioControllerCreate(
        request: Vapi.CreateScenarioDto,
        requestOptions?: SimulationScenariosClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Scenario>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "eval/simulation/scenario",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Scenario, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/eval/simulation/scenario");
    }

    /**
     * Returns the specified scenario.
     *
     * @param {Vapi.ScenarioControllerFindOneRequest} request
     * @param {SimulationScenariosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationScenarios.scenarioControllerFindOne({
     *         id: "id"
     *     })
     */
    public scenarioControllerFindOne(
        request: Vapi.ScenarioControllerFindOneRequest,
        requestOptions?: SimulationScenariosClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Scenario> {
        return core.HttpResponsePromise.fromPromise(this.__scenarioControllerFindOne(request, requestOptions));
    }

    private async __scenarioControllerFindOne(
        request: Vapi.ScenarioControllerFindOneRequest,
        requestOptions?: SimulationScenariosClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Scenario>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/scenario/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Scenario, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/eval/simulation/scenario/{id}",
        );
    }

    /**
     * Deletes the specified scenario.
     *
     * @param {Vapi.ScenarioControllerRemoveRequest} request
     * @param {SimulationScenariosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationScenarios.scenarioControllerRemove({
     *         id: "id"
     *     })
     */
    public scenarioControllerRemove(
        request: Vapi.ScenarioControllerRemoveRequest,
        requestOptions?: SimulationScenariosClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Scenario> {
        return core.HttpResponsePromise.fromPromise(this.__scenarioControllerRemove(request, requestOptions));
    }

    private async __scenarioControllerRemove(
        request: Vapi.ScenarioControllerRemoveRequest,
        requestOptions?: SimulationScenariosClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Scenario>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/scenario/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Scenario, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/eval/simulation/scenario/{id}",
        );
    }

    /**
     * Updates the specified scenario.
     *
     * @param {Vapi.UpdateScenarioDto} request
     * @param {SimulationScenariosClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationScenarios.scenarioControllerUpdate({
     *         id: "id"
     *     })
     */
    public scenarioControllerUpdate(
        request: Vapi.UpdateScenarioDto,
        requestOptions?: SimulationScenariosClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.Scenario> {
        return core.HttpResponsePromise.fromPromise(this.__scenarioControllerUpdate(request, requestOptions));
    }

    private async __scenarioControllerUpdate(
        request: Vapi.UpdateScenarioDto,
        requestOptions?: SimulationScenariosClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.Scenario>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/scenario/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.Scenario, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/eval/simulation/scenario/{id}",
        );
    }
}
