// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vapi from "../../../index.js";

export declare namespace KnowledgeBasesV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class KnowledgeBasesV2Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<KnowledgeBasesV2Client.Options>;

    constructor(options: KnowledgeBasesV2Client.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Vapi.KnowledgeBaseV2ControllerFindAllRequest} request
     * @param {KnowledgeBasesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.knowledgeBasesV2.knowledgeBaseV2ControllerFindAll()
     */
    public knowledgeBaseV2ControllerFindAll(
        request: Vapi.KnowledgeBaseV2ControllerFindAllRequest = {},
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): core.HttpResponsePromise<Vapi.KnowledgeBaseV2[]> {
        return core.HttpResponsePromise.fromPromise(this.__knowledgeBaseV2ControllerFindAll(request, requestOptions));
    }

    private async __knowledgeBaseV2ControllerFindAll(
        request: Vapi.KnowledgeBaseV2ControllerFindAllRequest = {},
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.KnowledgeBaseV2[]>> {
        const { limit } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "v2/knowledge-base",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.KnowledgeBaseV2[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/knowledge-base");
    }

    /**
     * @param {Vapi.CreateKnowledgeBaseV2Dto} request
     * @param {KnowledgeBasesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.knowledgeBasesV2.knowledgeBaseV2ControllerCreate({
     *         name: "name"
     *     })
     */
    public knowledgeBaseV2ControllerCreate(
        request: Vapi.CreateKnowledgeBaseV2Dto,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): core.HttpResponsePromise<Vapi.KnowledgeBaseV2> {
        return core.HttpResponsePromise.fromPromise(this.__knowledgeBaseV2ControllerCreate(request, requestOptions));
    }

    private async __knowledgeBaseV2ControllerCreate(
        request: Vapi.CreateKnowledgeBaseV2Dto,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.KnowledgeBaseV2>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "v2/knowledge-base",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.KnowledgeBaseV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/knowledge-base");
    }

    /**
     * @param {Vapi.KnowledgeBaseV2ControllerFilesGetRequest} request
     * @param {KnowledgeBasesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.knowledgeBasesV2.knowledgeBaseV2ControllerFilesGet({
     *         id: "id"
     *     })
     */
    public knowledgeBaseV2ControllerFilesGet(
        request: Vapi.KnowledgeBaseV2ControllerFilesGetRequest,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): core.HttpResponsePromise<Vapi.KnowledgeBaseV2File[]> {
        return core.HttpResponsePromise.fromPromise(this.__knowledgeBaseV2ControllerFilesGet(request, requestOptions));
    }

    private async __knowledgeBaseV2ControllerFilesGet(
        request: Vapi.KnowledgeBaseV2ControllerFilesGetRequest,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.KnowledgeBaseV2File[]>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `v2/knowledge-base/${core.url.encodePathParam(id)}/file`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.KnowledgeBaseV2File[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/knowledge-base/{id}/file");
    }

    /**
     * @param {Vapi.AttachKnowledgeBaseV2FileDto} request
     * @param {KnowledgeBasesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.knowledgeBasesV2.knowledgeBaseV2ControllerFileAttach({
     *         id: "id",
     *         fileId: "fileId"
     *     })
     */
    public knowledgeBaseV2ControllerFileAttach(
        request: Vapi.AttachKnowledgeBaseV2FileDto,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): core.HttpResponsePromise<Vapi.KnowledgeBaseV2File> {
        return core.HttpResponsePromise.fromPromise(
            this.__knowledgeBaseV2ControllerFileAttach(request, requestOptions),
        );
    }

    private async __knowledgeBaseV2ControllerFileAttach(
        request: Vapi.AttachKnowledgeBaseV2FileDto,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.KnowledgeBaseV2File>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `v2/knowledge-base/${core.url.encodePathParam(id)}/file`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.KnowledgeBaseV2File, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/knowledge-base/{id}/file");
    }

    /**
     * @param {Vapi.KnowledgeBaseV2ControllerFileDetachRequest} request
     * @param {KnowledgeBasesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.knowledgeBasesV2.knowledgeBaseV2ControllerFileDetach({
     *         id: "id",
     *         fileId: "fileId"
     *     })
     */
    public knowledgeBaseV2ControllerFileDetach(
        request: Vapi.KnowledgeBaseV2ControllerFileDetachRequest,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): core.HttpResponsePromise<Vapi.KnowledgeBaseV2File> {
        return core.HttpResponsePromise.fromPromise(
            this.__knowledgeBaseV2ControllerFileDetach(request, requestOptions),
        );
    }

    private async __knowledgeBaseV2ControllerFileDetach(
        request: Vapi.KnowledgeBaseV2ControllerFileDetachRequest,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.KnowledgeBaseV2File>> {
        const { id, fileId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `v2/knowledge-base/${core.url.encodePathParam(id)}/file/${core.url.encodePathParam(fileId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.KnowledgeBaseV2File, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/knowledge-base/{id}/file/{fileId}",
        );
    }

    /**
     * @param {Vapi.KnowledgeBaseV2ControllerFileRetryRequest} request
     * @param {KnowledgeBasesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.knowledgeBasesV2.knowledgeBaseV2ControllerFileRetry({
     *         id: "id",
     *         fileId: "fileId"
     *     })
     */
    public knowledgeBaseV2ControllerFileRetry(
        request: Vapi.KnowledgeBaseV2ControllerFileRetryRequest,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): core.HttpResponsePromise<Vapi.KnowledgeBaseV2File> {
        return core.HttpResponsePromise.fromPromise(this.__knowledgeBaseV2ControllerFileRetry(request, requestOptions));
    }

    private async __knowledgeBaseV2ControllerFileRetry(
        request: Vapi.KnowledgeBaseV2ControllerFileRetryRequest,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.KnowledgeBaseV2File>> {
        const { id, fileId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `v2/knowledge-base/${core.url.encodePathParam(id)}/file/${core.url.encodePathParam(fileId)}/retry`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.KnowledgeBaseV2File, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/knowledge-base/{id}/file/{fileId}/retry",
        );
    }

    /**
     * @param {Vapi.KnowledgeBaseV2ControllerFindOneRequest} request
     * @param {KnowledgeBasesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.knowledgeBasesV2.knowledgeBaseV2ControllerFindOne({
     *         id: "id"
     *     })
     */
    public knowledgeBaseV2ControllerFindOne(
        request: Vapi.KnowledgeBaseV2ControllerFindOneRequest,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): core.HttpResponsePromise<Vapi.KnowledgeBaseV2WithFiles> {
        return core.HttpResponsePromise.fromPromise(this.__knowledgeBaseV2ControllerFindOne(request, requestOptions));
    }

    private async __knowledgeBaseV2ControllerFindOne(
        request: Vapi.KnowledgeBaseV2ControllerFindOneRequest,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.KnowledgeBaseV2WithFiles>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `v2/knowledge-base/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.KnowledgeBaseV2WithFiles, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/knowledge-base/{id}");
    }

    /**
     * @param {Vapi.KnowledgeBaseV2ControllerRemoveRequest} request
     * @param {KnowledgeBasesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.knowledgeBasesV2.knowledgeBaseV2ControllerRemove({
     *         id: "id"
     *     })
     */
    public knowledgeBaseV2ControllerRemove(
        request: Vapi.KnowledgeBaseV2ControllerRemoveRequest,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): core.HttpResponsePromise<Vapi.KnowledgeBaseV2> {
        return core.HttpResponsePromise.fromPromise(this.__knowledgeBaseV2ControllerRemove(request, requestOptions));
    }

    private async __knowledgeBaseV2ControllerRemove(
        request: Vapi.KnowledgeBaseV2ControllerRemoveRequest,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.KnowledgeBaseV2>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `v2/knowledge-base/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.KnowledgeBaseV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/knowledge-base/{id}");
    }

    /**
     * @param {Vapi.UpdateKnowledgeBaseV2Dto} request
     * @param {KnowledgeBasesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.knowledgeBasesV2.knowledgeBaseV2ControllerUpdate({
     *         id: "id"
     *     })
     */
    public knowledgeBaseV2ControllerUpdate(
        request: Vapi.UpdateKnowledgeBaseV2Dto,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): core.HttpResponsePromise<Vapi.KnowledgeBaseV2> {
        return core.HttpResponsePromise.fromPromise(this.__knowledgeBaseV2ControllerUpdate(request, requestOptions));
    }

    private async __knowledgeBaseV2ControllerUpdate(
        request: Vapi.UpdateKnowledgeBaseV2Dto,
        requestOptions?: KnowledgeBasesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.KnowledgeBaseV2>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `v2/knowledge-base/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.KnowledgeBaseV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v2/knowledge-base/{id}");
    }
}
