// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vapi from "../../../index.js";

export declare namespace SimulationRunsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SimulationRunsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SimulationRunsClient.Options>;

    constructor(options: SimulationRunsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the simulation runs for the authenticated organization.
     *
     * @param {Vapi.SimulationRunControllerFindAllRequest} request
     * @param {SimulationRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationRuns.simulationRunControllerFindAll()
     */
    public simulationRunControllerFindAll(
        request: Vapi.SimulationRunControllerFindAllRequest = {},
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.SimulationRunControllerFindAllResponse> {
        return core.HttpResponsePromise.fromPromise(this.__simulationRunControllerFindAll(request, requestOptions));
    }

    private async __simulationRunControllerFindAll(
        request: Vapi.SimulationRunControllerFindAllRequest = {},
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.SimulationRunControllerFindAllResponse>> {
        const {
            status,
            filterStatus,
            targetType,
            targetId,
            page,
            sortOrder,
            sortBy,
            limit,
            createdAtGt,
            createdAtLt,
            createdAtGe,
            createdAtLe,
            updatedAtGt,
            updatedAtLt,
            updatedAtGe,
            updatedAtLe,
        } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
            filterStatus: filterStatus != null ? filterStatus : undefined,
            targetType: targetType != null ? targetType : undefined,
            targetId,
            page,
            sortOrder: sortOrder != null ? sortOrder : undefined,
            sortBy: sortBy != null ? sortBy : undefined,
            limit,
            createdAtGt: createdAtGt != null ? createdAtGt : undefined,
            createdAtLt: createdAtLt != null ? createdAtLt : undefined,
            createdAtGe: createdAtGe != null ? createdAtGe : undefined,
            createdAtLe: createdAtLe != null ? createdAtLe : undefined,
            updatedAtGt: updatedAtGt != null ? updatedAtGt : undefined,
            updatedAtLt: updatedAtLt != null ? updatedAtLt : undefined,
            updatedAtGe: updatedAtGe != null ? updatedAtGe : undefined,
            updatedAtLe: updatedAtLe != null ? updatedAtLe : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "eval/simulation/run",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Vapi.SimulationRunControllerFindAllResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/eval/simulation/run");
    }

    /**
     * Starts a simulation run against a target assistant or squad.
     *
     * @param {Vapi.CreateSimulationRunDto} request
     * @param {SimulationRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vapi.PaymentRequiredError}
     *
     * @example
     *     await client.simulationRuns.simulationRunControllerCreate({
     *         simulations: [{
     *                 type: "simulation"
     *             }],
     *         target: {
     *             type: "assistant"
     *         }
     *     })
     */
    public simulationRunControllerCreate(
        request: Vapi.CreateSimulationRunDto,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.CreateSimulationRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__simulationRunControllerCreate(request, requestOptions));
    }

    private async __simulationRunControllerCreate(
        request: Vapi.CreateSimulationRunDto,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.CreateSimulationRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                "eval/simulation/run",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.CreateSimulationRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 402:
                    throw new Vapi.PaymentRequiredError(
                        _response.error.body as Vapi.SimulationRunPaymentRequiredResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.VapiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/eval/simulation/run");
    }

    /**
     * Returns the specified simulation run, including its status and item counts.
     *
     * @param {Vapi.SimulationRunControllerFindOneRequest} request
     * @param {SimulationRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationRuns.simulationRunControllerFindOne({
     *         id: "id"
     *     })
     */
    public simulationRunControllerFindOne(
        request: Vapi.SimulationRunControllerFindOneRequest,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.SimulationRun> {
        return core.HttpResponsePromise.fromPromise(this.__simulationRunControllerFindOne(request, requestOptions));
    }

    private async __simulationRunControllerFindOne(
        request: Vapi.SimulationRunControllerFindOneRequest,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.SimulationRun>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/run/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.SimulationRun, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/eval/simulation/run/{id}");
    }

    /**
     * Cancels the specified simulation run.
     *
     * @param {Vapi.SimulationRunControllerCancelGroupRequest} request
     * @param {SimulationRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationRuns.simulationRunControllerCancelGroup({
     *         id: "id"
     *     })
     */
    public simulationRunControllerCancelGroup(
        request: Vapi.SimulationRunControllerCancelGroupRequest,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.SimulationRun> {
        return core.HttpResponsePromise.fromPromise(this.__simulationRunControllerCancelGroup(request, requestOptions));
    }

    private async __simulationRunControllerCancelGroup(
        request: Vapi.SimulationRunControllerCancelGroupRequest,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.SimulationRun>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/run/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.SimulationRun, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/eval/simulation/run/{id}");
    }

    /**
     * Returns the run items for the specified simulation run.
     *
     * @param {Vapi.SimulationRunControllerFindItemsRequest} request
     * @param {SimulationRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationRuns.simulationRunControllerFindItems({
     *         id: "id"
     *     })
     */
    public simulationRunControllerFindItems(
        request: Vapi.SimulationRunControllerFindItemsRequest,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.SimulationRunItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__simulationRunControllerFindItems(request, requestOptions));
    }

    private async __simulationRunControllerFindItems(
        request: Vapi.SimulationRunControllerFindItemsRequest,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.SimulationRunItem[]>> {
        const {
            id,
            simulationId,
            runId,
            status,
            page,
            sortOrder,
            sortBy,
            limit,
            createdAtGt,
            createdAtLt,
            createdAtGe,
            createdAtLe,
            updatedAtGt,
            updatedAtLt,
            updatedAtGe,
            updatedAtLe,
        } = request;
        const _queryParams: Record<string, unknown> = {
            simulationId,
            runId,
            status: status != null ? status : undefined,
            page,
            sortOrder: sortOrder != null ? sortOrder : undefined,
            sortBy: sortBy != null ? sortBy : undefined,
            limit,
            createdAtGt: createdAtGt != null ? createdAtGt : undefined,
            createdAtLt: createdAtLt != null ? createdAtLt : undefined,
            createdAtGe: createdAtGe != null ? createdAtGe : undefined,
            createdAtLe: createdAtLe != null ? createdAtLe : undefined,
            updatedAtGt: updatedAtGt != null ? updatedAtGt : undefined,
            updatedAtLt: updatedAtLt != null ? updatedAtLt : undefined,
            updatedAtGe: updatedAtGe != null ? updatedAtGe : undefined,
            updatedAtLe: updatedAtLe != null ? updatedAtLe : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/run/${core.url.encodePathParam(id)}/item`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.SimulationRunItem[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/eval/simulation/run/{id}/item",
        );
    }

    /**
     * Returns the specified run item, including its evaluation results and the ID of the call that ran it.
     *
     * @param {Vapi.SimulationRunControllerFindItemRequest} request
     * @param {SimulationRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationRuns.simulationRunControllerFindItem({
     *         id: "id",
     *         itemId: "itemId"
     *     })
     */
    public simulationRunControllerFindItem(
        request: Vapi.SimulationRunControllerFindItemRequest,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.SimulationRunItem> {
        return core.HttpResponsePromise.fromPromise(this.__simulationRunControllerFindItem(request, requestOptions));
    }

    private async __simulationRunControllerFindItem(
        request: Vapi.SimulationRunControllerFindItemRequest,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.SimulationRunItem>> {
        const { id, itemId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/run/${core.url.encodePathParam(id)}/item/${core.url.encodePathParam(itemId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.SimulationRunItem, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/eval/simulation/run/{id}/item/{itemId}",
        );
    }

    /**
     * Cancels the specified run item.
     *
     * @param {Vapi.SimulationRunControllerCancelItemRequest} request
     * @param {SimulationRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationRuns.simulationRunControllerCancelItem({
     *         id: "id",
     *         itemId: "itemId"
     *     })
     */
    public simulationRunControllerCancelItem(
        request: Vapi.SimulationRunControllerCancelItemRequest,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): core.HttpResponsePromise<Vapi.SimulationRunItem> {
        return core.HttpResponsePromise.fromPromise(this.__simulationRunControllerCancelItem(request, requestOptions));
    }

    private async __simulationRunControllerCancelItem(
        request: Vapi.SimulationRunControllerCancelItemRequest,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vapi.SimulationRunItem>> {
        const { id, itemId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/run/${core.url.encodePathParam(id)}/item/${core.url.encodePathParam(itemId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vapi.SimulationRunItem, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/eval/simulation/run/{id}/item/{itemId}",
        );
    }

    /**
     * Generates AI suggestions for improving the assistant or squad's system prompt, tools, and scenarios, based on the specified run item.
     *
     * @param {Vapi.SimulationRunControllerGenerateSuggestionsRequest} request
     * @param {SimulationRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.simulationRuns.simulationRunControllerGenerateSuggestions({
     *         id: "id",
     *         itemId: "itemId",
     *         force: "force"
     *     })
     */
    public simulationRunControllerGenerateSuggestions(
        request: Vapi.SimulationRunControllerGenerateSuggestionsRequest,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(
            this.__simulationRunControllerGenerateSuggestions(request, requestOptions),
        );
    }

    private async __simulationRunControllerGenerateSuggestions(
        request: Vapi.SimulationRunControllerGenerateSuggestionsRequest,
        requestOptions?: SimulationRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id, itemId, force, persist } = request;
        const _queryParams: Record<string, unknown> = {
            force,
            persist,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VapiEnvironment.Default,
                `eval/simulation/run/${core.url.encodePathParam(id)}/item/${core.url.encodePathParam(itemId)}/generate`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VapiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/eval/simulation/run/{id}/item/{itemId}/generate",
        );
    }
}
